[package]
name = "claide"
version = "0.5.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
dashmap = "6.1.0"
dotenvy = "0.15"
futures = { version = "0.3", default-features = false, features = ["std"] }
mime = "0.3.17"
rand = "0.8"
reqwest = { version = "0.12", default-features = false, features = ["brotli", "gzip", "http2", "json", "rustls-tls"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
textwrap = { version = "0.16", features = ["hyphenation"] }
time = { version = "0.3", features = [
    "formatting",
    "macros",
] }
tokio = { version = "1.41", features = [
    "macros",
    "rt-multi-thread",
    "signal",
    "sync",
    "time",
] }
tracing = { version = "0.1", default-features = false, features = ["std"] }
tracing-subscriber = { version = "0.3", default-features = false, features = [
    "ansi",
    "env-filter",
] }

[dependencies.serenity]
version = "0.12"
default-features = false
features = [
    "builder",
    "cache",
    "client",
    "gateway",
    "model",
    "native_tls_backend",
    "unstable_discord_api",
    "utils",
]
