[package]
name = "clyde"
version = "0.4.0"
edition = "2021"

[dependencies]
anyhow = { version = "1.0.86", default-features = false, features = ["std"] }
dotenvy = { version = "0.15.7", default-features = false }
futures = { version = "0.3.30", default-features = false, features = ["std"] }
indoc = { version = "2.0.5", default-features = false }
reqwest = { version = "0.11", default-features = false, features = ["brotli", "cookies", "deflate", "gzip", "json", "multipart", "native-tls-alpn", "stream"] }
serde = { version = "1.0.204", default-features = false, features = ["derive", "std"] }
serde_json = { version = "1.0.120", default-features = false, features = ["std"] }
textwrap = { version = "0.16.1", default-features = false, features = ["hyphenation", "smawk", "unicode-linebreak", "unicode-width"] }
tokio = { version = "1.38.0", default-features = false, features = ["macros", "rt-multi-thread", "signal", "sync", "time"] }
tracing = { version = "0.1.40", default-features = false, features = ["std"] }
tracing-subscriber = { version = "0.3.18", default-features = false, features = ["ansi", "env-filter"] }

[dependencies.serenity]
version = "0.12.2"
default-features = false
features = [
  "builder",
  "cache",
  "client",
  "gateway",
  "model",
  "native_tls_backend",
  "unstable_discord_api",
  "utils",
]
