[package]
name = "clyde"
version = "0.0.0"
edition = "2021"

[dependencies]
anyhow = { version = "1.0.75", default-features = false, features = ["std"] }
llama = { version = "0.0.0", path = "crates/llama", default-features = false, features = ["clblast"] }
tokio = { version = "1.34.0", default-features = false, features = ["macros", "rt-multi-thread"] }
tracing = { version = "0.1.40", default-features = false, features = ["std"] }
tracing-subscriber = { version = "0.3.18", default-features = false, features = ["ansi", "env-filter", "time"] }
twilight-cache-inmemory = { version = "0.15.4", default-features = false, features = ["permission-calculator"] }
twilight-gateway = { version = "0.15.4", default-features = false, features = ["rustls-webpki-roots", "zlib-simd"] }
twilight-http = { version = "0.15.4", default-features = false, features = ["decompression", "rustls-webpki-roots", "trust-dns"] }
twilight-model = { version = "0.15.4", default-features = false }
twilight-util = { version = "0.15.4", default-features = false, features = ["builder"] }

[profile.release]
lto = "thin"

[workspace]
members = ["crates/*"]
resolver = "2"
